* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: #eee;
}

.container {
    width: 80%;
    margin: 0 auto;   
}

 nav ul {
     margin : 0;
     padding: 0;
     list-style: none;  
 }

 nav li {
     display: inline-block;
     margin-left: 30px;
     padding-top: 25px;
     position: relative;
 }

 nav a {
     text-decoration: none;
     text-transform: uppercase;
 }

 nav a:hover {
    color: rgb(216, 131, 195);
 }

 nav a::before {
     content: "";
     display: block;
     height: 5px;
     background-color: #444;
     top: 0;
     position: absolute;
 }

 nav a:hover::before {
    width: 100%;
 }
 


