*{
    box-sizing: border-box;
}

.mat-card-body {
    width: 10%;
    background-color: rgb(148, 93, 143);
    padding-left: 20px;
    font-size: 20px;
}

.circle {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

